.cointainer {
  position: absolute;
  top:0;
  left: 0;
  right: 0;
  bottom: 0;
  position: relative;
}

.bg {
  width: 100%;
  transition: opacity 2s ease-in-out;
  position: absolute;
  opacity: 0;
}

.bg.visible {
  opacity: 1;
}